
:root{
  --satu-color: #2A76F8;
  --dua-color: #76A8FF;
  --tiga-color: #C2D7FB;
  --empat-color: #E6EFFF;
  --lima-color: #FFFFFF;
  --enam-color: #767676;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type:none;
}
a{
  text-decoration: none;
}

/* .button{
  padding: 17px 28px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  background-color: var(--lima-color);
  border-radius: 20px;
  border: none;
  cursor: pointer;
} */

.bubble{
    padding: 8px 20px;
    border-radius: 20px;
    background-color: var(--empat-color);
    width: fit-content;
    font-size: 16px;
    color: var(--satu-color);
    font-weight: 600;
}

/* animasi button 1*/
.button{
  padding: 16px 48px;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.button::before, .button::after{
  --offset:2px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: all 0.3s;
  opacity: 0;
}

.button::before{
  border-top: 2px solid var(--satu-color);
  border-left: 2px solid var(--satu-color);
  top: var(--offset);
  left: var(--offset);
}
.button::after{
  border-bottom: 2px solid var(--satu-color);
  border-right: 2px solid var(--satu-color);
  bottom: var(--offset);
  right: var(--offset);
}

.button:hover{
  background-color: var(--satu-color);
  color: white;
  transition-delay: 0.5s;
  border: 2px solid var(--satu-color);
}

.button:hover::before, .button:hover::after{
  border-radius: 8px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  opacity: 1;
}

/* animasi button 2 */
.buttontwo{
  padding: 16px 48px;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.buttontwo:hover{
  box-shadow: 0 0 0 3px white, 0 0 0 6px black;
  border: 2px solid black;
  transform: scale(0.9);
}

/* animasi button 3 */
.buttonthree{
  padding: 16px 48px;
  background: var(--satu-color);
  border: 2px solid var(--satu-color);
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.buttonthree:hover{
  box-shadow: 0 0 0 3px white, 0 0 0 6px var(--satu-color);
  border: 2px solid var(--satu-color);
  transform: scale(0.9);
}

/* first button */
.fbutton{
  padding: 16px 48px;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

/* second button */
.sbutton{
  padding: 16px 48px;
  background: var(--satu-color);
  border: 2px solid var(--satu-color);
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

